<% var title = "HMI, LLC" %>
<% include head.ejs %>
<h1>Human Machine<br> Interactions, LLC<br>
    <span class="x">Pursing innovative<br> technologies</span><br>
    <a href="mailto:brant@humanmachineinteractions.com">Contact</a></h1>
<% include foot.ejs %>














