* {
    font-family: "nimbus-sans",sans-serif;
    font-weight: 300;
    color: #00121d;
}

body {
    background-color: #598b35;
    background-color: #fff;
    margin:80px;
}

h1 {
    font-size:50px;
}

.x {
    color: #6d6d6d;
}

a {
    text-decoration: none;
    color: #aaa;
    font-size: 30px;
}
a:hover {
    color: #333;
}
textarea {
     font-family: "nimbus-sans",sans-serif;
    font-size: 38px;
    width: 400px;
    height: 200px;
    padding: 10px;
}

button {
    font-weight: bold;
    background-color: #39474f;
    padding: 8px 16px;
    margin: 6px 0;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
}

button:hover:enabled {
    background-color: #021e35;
}

button:disabled {
    opacity: .4;
}

#x {
    font-size: 38px;
    padding: 23px;
}
#x span {
    padding: 15px 5px 0 0;
    position:relative;
}
#x .small {
    position: absolute;
    font-size:12px;
    -webkit-border-radius: 2px;
    padding: 2px;
    background-color: #999;
    color: #fff;
}
#x .classified {
    line-height: 110px;
    color: #00218F;
}
#x .none {
    color: #999;
    line-height: 110px;
}
