* {
    font-family: "nimbus-sans",sans-serif;
    font-weight: 300;
    color: #00121d;
}

body {
    background-color: #598b35;
    background-color: #fff;
    margin:80px;
}

h1 {
    font-size:50px;
}

.x {
    color: #6d6d6d;
}

a {
    text-decoration: none;
    color: #aaa;
    font-size: 30px;
}
a:hover {
    color: #333;
}
textarea {
     font-family: "nimbus-sans",sans-serif;
    font-size: 30px;
}