
<% var title = "HMI, LLC" %>
<% include head.ejs %>
<div id="x">

</div>

<script>
    var $d = $("<div></div>");
    var $a = $("<textarea>Hi, Ralph, how are you?</textarea>");
    var $t = $("<button>DETECT</button>");
    $d.append($a, "<br>", $t);
    var $e = $("<div>Working...</div>");
    $e.hide();
    var $r = $("<div></div>");
    var $rt = $("<div></div>");
    var $rb = $("<button>AGAIN</button>");
    $r.append($rt, $rb);
    $r.hide();
    $t.click(function () {
        $t.hide();
        $a.prop('disabled', true);
        $e.show();
        $.ajax("/test/" + encodeURIComponent($a.val())).done(function (r) {
            $d.hide();
            $e.hide();
            $r.show();
            $rt.empty();
            for (var t=0; t< r.tokens.length; t++) {
                var p = false;
                for (var i = 0; i < r.annotations.length; i++) {
                    var rr = r.annotations[i];
                    var in_range = rr.range.indexOf(t);
                    if (in_range == 0) {
                        $rt.append("<span class='small'>" + rr.tag + "</span><span class='classified'>" + rr.text + "</span> ");
                        p = true;
                    } else if (in_range != -1) {
                        p = true;
                    }
                }
                if (!p)
                 $rt.append("<span class='none'>" +r.tokens[t]+"</span>");
            }

        })
    });
    $rb.click(function(){
        $r.hide();
        $d.show();
        $a.prop('disabled', false);
        $a.val("");
        $t.show();
    });
    $("#x").append($d, $e, $r);
</script>
<% include foot.ejs %>


