<% var title = "HMI, LLC" %>
<% include head.ejs %>
<img src="/css/HMI_lg_exp.png">
<h1>Human Machine Interactions, LLC<br>
    <span class="x">Pursing innovative technologies</span><br>
    <a href="mailto:brant@humanmachineinteractions.com">Contact</a></h1>
<% include foot.ejs %>














