<% var title = "Human Machine Interactions" %>
<% include head.ejs %>
<img src="/css/hmi.svg" width="300">
<h1>Human Machine Interactions<br>
    <span class="x">Giving voice to the Internet of Things.</span><br>
    <a href="mailto:brant@humanmachineinteractions.com">Contact</a></h1>
<% include foot.ejs %>



